body {
/*  padding-top: 50px;
*/}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.navbar-inverse .navbar-brand{
      color: White;
}



body, html {
    height: 100%;
}



.help{
	text-align: center;
}



.ok{
  width: 100%;
  padding-bottom: 4em;
  position: center;
}
